<GridLayout
  rows="*, auto, 20"
  columns="30, *, 30"
>
  <Button col="0" text="&lt;" (tap)="prev($event)"></Button>
  <StackLayout
    col="1"
    ns-webview
    [src]="(href | async)"
    (webviewSwipe)="onSwipe($event)"
    (webviewPageLoaded)="webviewPageLoaded($event)"
  ></StackLayout>
  <Button col="2" text="&gt;" (tap)="next($event)"></Button>

  <StackLayout row="1" colSpan="3" *ngIf="player.position | async" orientation="horizontal">
    <Button text="||" (tap)="player.pause()"></Button>
    <Button text="|>" (tap)="player.play()"></Button>
  </StackLayout>

  <Slider padding="0" margin="0" row="2" colSpan="3" *ngIf="player.position | async" [minValue]="0" [maxValue]="(player.position | async)?.duration" [value]="(player.position | async)?.currentTime" class="slider"></Slider>
</GridLayout>
